<h2 class="{{ model.firstName }}">
  {{log model}}
  Hey there {{model.lastName}}, {{ model.firstName }}
</h2>

<ul class="students">
  {{#each model as |student|}}
    {{student-item student=student}}
  {{/each}}
</ul>
