<h2 class="profile-username">{{ model.login }}</h2>

<ul class="profile-details">
  <li>{{ model.blog }}</li>
  <li>{{ model.email }}</li>
  <li>{{ model.followers }}</li>
  <li>{{ model.following }}</li>
</ul>
